@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');
* { margin:0; padding:0; box-sizing:border-box;}

body {
	background-color: #99E1D9;
	color: #000000;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

nav {
	font-size: 4em;
	float: right;
}
nav a {
	text-decoration: none;
	color: #000000;
	margin: 1.8em;
	display: inline-block;
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
	color: #32292F;
	font-family: 'Fredoka One', cursive;
	text-align: center;

}
h2 {
	font-size: 24px;
	color: #32292F;
	padding-top: 50px;
	padding-bottom:50px;
	text-align: center;
	display: block;

}
h3 {
	font-size: 24px;
	font-family: 'Fredoka One', cursive;
	font-weight: bold;

}
.columns {
	float: left;
	padding: 0 1em;
	width: 33.33%;
	min-height: 44em;
}
.columns img {
	width:100%;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
	padding: 0, 2em, 0 2em; ;
}

.influencers {
	float: left;
	padding: 0 1em;
	width: 50%;
}

#mainpage {
	background-color: grey;
	width: auto;

}
#slogan {color: #32292F;}

#blogArticles {
    max-width: 1200px;
    margin: auto;
}

#rawLifestyle {
    max-width: 600px;
    margin: auto;
}
