@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');
* { margin:0; padding:0; box-sizing:border-box;}

body {
	background-image: url(../images/titan_background.jpg);
	background-size: cover;
	width: 100%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

nav {
	font-size: 1.5em;
	float: right;
	background: black;
	color: white;
	width: cover;
	margin: 0;

}

nav a {
	text-decoration: none;
	color: white;
	margin: 1em;
	display: inline-block;
	padding: 0 3em;
}

ul {
	list-style-type: none;
	text align: center;
	padding: 0 3em;
}

h1 {
	font-size: 60px;
	text-transform: capitalize;
	color: #32292F;
	font-family: 'Open Sans', sans-serif;
	text-align: center;

}
h2 {
	font-size: 30px;
	color: #32292F;
	padding-top: 20px;
	padding-bottom:20px;
	text-align: center;
	display: block;

}
h3 {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}
footer {
	margin: 3em;
	text-align: center;
	font-weight: 800px;
}
.columns {
	float: left;
	padding: 0 1em;
	width: 33.33%;
	min-height: 44em;
}
.columns img {
	width:100%;
}
.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
	padding: 0, 2em, 0 2em; ;
}

.influencers {
	float: left;
	padding: 0 1em;
	width: 33.33%;
}

#left img {
	width: 100%;
}

}
#mainpage {
	background: grey;
	width: auto;
	height: 4em;
	padding-top: 4em;

}
#slogan {color: #32292F;}

#blogArticles {
    max-width: autopx;
    margin: 2em;
    background: #48D1CC;
    padding: 2em;
}

#rawLifestyle {
    max-width: auto;
    margin: 8em;
    padding: 4em;
    background: #FDF5E6;
    display: block;
    font-style: italic;
    
}


#two_column {
	background-color: #FDF5E6;
	border: 1px black solid;
	padding: 20px;
}

#credibility {
	background-color: white;
	border: 3px black solid;
	padding: 20px;
	margin: 3em;
}

#left {
	background-color: #D3D3D3;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #D3D3D3;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}