
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');


body {
	background-color: #99E1D9;
	color: #000000;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	margin: 1em;
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
	color: #32292F;
	font-family: 'Fredoka One', cursive;
	text-align: center;

}
h2 {
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	text-align: center;

}
h3 {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #32292F;
	text-align: left;
	display: block;
	max-width: 900px;
	padding-top: 50px;
	padding-right: 200px;
	padding-bottom:50px;
	padding-left: 200px;

}
h4 {
	font-size: 24px;
	font-family: 'Fredoka One', cursive;
	font-weight: bold;

}

p {
	font-size: 16px;
	text-transform: lowercase;
	text-align: left;
	color: black;
	font-family: 'Open Sans', sans-serif;
	display: block;
	max-width: 400px;

}

.columns {
	float: left;
	padding: 0 1em;
	width: 30%;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
	padding: 0, 2em, 0 2em; ;
}

.blogarticle {
}

#slogan {color: #32292F;}

