body {
	background: url(http://imgur.com/odksSeC);
	#slogan
	background-size: cover;
	color: #000000;
	text-align: center;
	font-family: georgia;
}

h1 {
	text-transform: uppercase;
	color: (0,0,126);

}

p {
	font-size: 36px;
	text-transform: lowercase;
	color: black;
}