body {
	background: url(../images/titan_beach.JPG);
	background-size: cover;
	color: #000000;
	text-align: center;
	font-family: georgia;
}

h1 {
	text-transform: uppercase;
	color: (0,0,126);

}

p {
	font-size: 36px;
	text-transform: lowercase;
	color: black;
}
#slogan {color: red;}